
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>PANDA Kids</title>

        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-default navbar-panda navbar-fixed-top">
            <div class="container" style="margin-left:15px; margin-right:15px;">
                <img height="50" width="50" src="{{ url_for('static', filename='img/panda.png') }}" style="float: left; margin-right:5px;">
                <a class="navbar-brand" href="/">PANDA KIDS</a>
            </div>
        </nav>

        <div class="container">
            <h1 style="margin-top:100px;">
                {% if title == 'selection' %}
                    Please select the view you'd like to see.
                {% else %}
                    {{ title | title }}
                {% endif %}
            </h1>
            <div style="margin-top:20px;">
                {% if title == 'selection' %}
                    <a class="btn btn-primary" href="/hospital/">Hospital</a>
                    <a class="btn btn-primary" href="/home/">Home</a>
                    <a class="btn btn-primary" href="/education/">Education</a>
                {% else %}
                    <div class="text-center">
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/n9-LH3rgp5Y?autoplay=1&controls=0"
                            frameborder="0"></iframe>
                    </div>
                {% endif %}
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io.connect('/ui');
            console.log("Socket object: " + socket)
            socket.on('connect', () => {
                console.log("Connected. ID: " + socket.id);
            });
            socket.on('ui', function(data) {
                console.log('Received data from server: ' + JSON.stringify(data));
            });
        </script>
    </body>
</html>
